<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/trip.css" th:href="@{/css/trip.css}">
    <title>Document</title>
</head>
<body>

<div class="container">
    <div class="grid">
        <div class="details card">
            <a onclick="goBack()">← Torna indietro</a>
            <h1><span th:text="|${trip.city.name}|">Roma</span></h1>
            <h2><span th:text="${trip.startDate}">27/07</span> - <span th:text="${trip.endDate}">3/08</span></h2>


            <div>
                <div th:text="|${trip.user.name} ${trip.user.surname}|">Matteo Galdi</div>
                <p th:text="${trip.accommodation.name}">Hilton</p>
                <p th:text="|${trip.accommodation.address.street} ${trip.accommodation.address.streetNumber} ${trip.accommodation.address.zipCode}|">
                    via cristoforo colombo, 10, 001243
                </p>
                <p th:text="${trip.accommodation.price}">789€/notte</p>
                <p th:text="${trip.accommodation.rating}"></p>
                <p th:if="${trip.accommodation.type.animalsAllowed}">Gli animali sono ammessi</p>
                <p th:if="${!trip.accommodation.type.animalsAllowed}">Gli animali NON sono ammessi</p>

            </div>

            <div class="button-footer">

                <form th:action="@{/trip/delete/{id}(id=${trip.id})}" method="get">
                    <button type="submit" class="button">Elimina</button>
                </form>

                <form th:action="@{/trip/update/{id}(id=${trip.id})}" method="get">
                    <button type="submit" class="button-delete">Modifica</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function goBack() {
        window.history.back()
    }
</script>

</body>
</html>