<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/updateTrip.css}" href="../../static/css/updateTrip.css">
    <title>Document</title>
</head>
<body>

<div class="container">
    <p>Stai per prenotare, ecco i dettagli</p>
    <div>
        <p th:text="*{trip.user.name}">Matteo Galdi</p>
        <p th:text="*{trip.accommodation.name}">Nome hotel</p>
        <p th:text="*{trip.accommodation.type.description}">Tipo hotel</p>
        <p th:text="*{trip.accommodation.type.animalsAllowed}">Animali ammessi</p>
        <p th:text="|*{trip.accommodation.address.street} *{trip.accommodation.address.streetNumber}|">indirizzo
            hotel</p>
    </div>
    <div class="card">
        <form th:action="@{/trip/update/{id}(id=${trip.id})}" method="post">
            <label for="input1">Dal</label>
            <input type="date" id="input1" th:field="*{trip.startDate}">

            <label for="input2">Al</label>
            <input type="date" id="input2" th:field="*{trip.endDate}">


            <button type="submit">Aggiorna</button>
            <button type="reset">Annulla</button>
        </form>
    </div>
</div>

</body>
</html>