@import "reset.css";

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100%;
}

.accommodations {
    grid-column-start: 2;
    text-align: center;
}

.accommodation {
    display: flex;
    flex-direction: column;
}

.accommodation > p {
    font-weight: bolder;
    font-size: x-large;
}