@import "reset.css";

.button {
    border: none;
    background-color: darkred;
    width: 100%;
    align-self: center;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    border-radius: 5px;
    color: white;
    font-size: large;
}

h1 {
    margin: .5em 0;
}

h2 {
    margin-bottom: .5em;
}

.grid {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.details {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-delete {
    border: none;
    background-color: cadetblue;
    width: 100%;
    align-self: center;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    border-radius: 5px;
    color: white;
    font-size: large;
}

.button-footer {
    display: flex;
    width: 100%;
    margin-top: 1em;
    align-items: center;
    justify-content: space-evenly;
}


