<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
    <title>FlyAway</title>
</head>
<body>
<div class="grid">
    <h1>Benvenuto sul sistea di prenotazione FlyAway</h1>
    <h2>Il posto dove prenotare le struttura per il tuo viaggio</h2>
    <p>Sul sito sono presenti delle strutture che ouoi prenotare tramite il tuo personale account</p>
    <p><a th:href="@{/login}">Accedi</a> oppure <a th:href="@{/register}">Registrati</a></p>
</div>
</body>
</html>